<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CryptoDepot</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container ">
        @Html.ActionLink("Application Crypto Depot", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>

    <div class="container-fluid navbar-dark bg-primary" >
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary container">
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Invest", "Questions", "Home",  new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Trends", "GetCoins", "Home", new { @class = "nav-link" })</li>

                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })</li>

                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })</li>
                </ul>

            </div>
        </nav>
    </div>


    <div class="container body-content">

        @RenderBody()
        <hr />

        <footer>
            <p> </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>