@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Top Ten</h1>
    <p>@ViewBag.one</p>
    <p>@ViewBag.two</p>
    <p>@ViewBag.three</p>
    <p>@ViewBag.four</p>
    <p>@ViewBag.five</p>
    <p>@ViewBag.six</p>
    <p>@ViewBag.seven</p>
    <p>@ViewBag.eight</p>
    <p>@ViewBag.nine</p>
    <p>@ViewBag.ten</p>
</div>
