@model IEnumerable<CryptoDepotFinal.Models.Coin>

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://tse2.mm.bing.net/th?id=OIP.MUgzx_vaKtuwcuMgxxdgQQHaCz&pid=15.1&P=0&w=496&h=189" alt="Los Angeles" width="100%" height="400">
        </div>
        <div class="carousel-item">
            <img src="https://tse2.mm.bing.net/th?id=OIP.4UKdLBXGlTy_8R7_6JltQwHaDf&pid=15.1&P=0&w=365&h=172" alt="Chicago"  width="100%" height="400">
        </div>
        <div class="carousel-item">
            <img src="ny.jpg" alt="New York"  width="100%" height="400">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
    <!-- ENd of carousel  and begin of top 10-->


    <div class="row">
        <div class="col-8">
            <h3> Top 5 of the Currency</h3>
            <table class=" table table-striped table-hover table-bordered" >
                <tr>
                    <th>
                        Btc

                    </th>
                    <th>
                        Name

                    </th>
                    <th>
                        ticker

                    </th>
                    <th>
                        Rank

                    </th>
                    <th>
                        usd Value

                    </th>
                </tr>

                @foreach (var act in Model.OrderBy(c => int.Parse(c.rank)))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(itemmodel => act.btc)
                        </td>
                        <td>
                            @Html.DisplayFor(itemmodel => act.name)
                        </td>
                        <td>
                            @Html.DisplayFor(itemmodel => act.ticker)
                        </td>
                        <td>
                            @Html.DisplayFor(itemmodel => act.rank)
                        </td>
                        <td>
                            @Html.DisplayFor(itemmodel => act.usd)
                        </td>
                    </tr>
                }
            </table>

<a class="btn btn-primary" href="Home/Getcoins"> See more coins</a>

        </div>

        <!-- ENd  of top 10-->

        <div class="col">
            <h3> Make a simulator</h3>
            <p>Fill the form and click on Submit</p>
            <form method="get" action="Home/Invest">
                <p>Amount:</p>
                <input name="Amount" type="number" />
                <p>Risk:</p>
                <select name="Risk" class="dropdown">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
                <br />
                <p>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </p>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Need a Crash Course in Crypto Currency?</h3>
            <p>
                What is it? How does it work? What does it mean? All your basic questions are answered here.
            </p>
            <p><a class="btn btn-primary" href="http://localhost:56069/Home/About">Intro to Crypto &raquo;</a></p>

        </div>

        <div class="col-4">
            <h3>Need a Crash Course in Crypto Currency?</h3>
            <p>
                What is it? How does it work? What does it mean? All your basic questions are answered here.
            </p>
            <p><a class="btn btn-primary" href="http://localhost:56069/Home/About">Intro to Crypto &raquo;</a></p>

        </div>
        <div class="col-4">
            <h3>Need a Crash Course in Crypto Currency?</h3>
            <p>
                What is it? How does it work? What does it mean? All your basic questions are answered here.
            </p>
            <p><a class="btn btn-primary" href="http://localhost:56069/Home/About">Intro to Crypto &raquo;</a></p>

        </div>
    </div>
