
@*@{
    ViewBag.Title = "GetCoins";
}*@
@model IEnumerable<CryptoDepotFinal.Models.Coin>
@ViewBag.Title
@{ int i = 1; }
<h2>Coins</h2>
<!--//   -->
<table class=" table table-striped table-hover table-bordered">
    <tr>

        <th>
            Name Of Cryptocurrency

        </th>
        <th>
            ticker

        </th>
        <th>
            Market Value Rank

        </th>
        <th>
            Value per coin (USD)

        </th>
        <th>
            Standard Deviation
        </th>
        
        <th>
            History

        </th>
        <th>
            Forcast

        </th>
    </tr>

    @foreach (var act in Model.OrderBy(c => int.Parse(c.rank)))
    {
    <tr>

        <td>
            @Html.DisplayFor(itemmodel => act.name)
        </td>
        <td>
            @Html.DisplayFor(itemmodel => act.ticker)
        </td>
        <td>
            @Html.DisplayFor(itemmodel => act.rank)
        </td>
        <td>
            @Html.DisplayFor(itemmodel => act.usd)
        </td>
        <td>
            @Html.DisplayFor(itemmodel => act.stdv)
        </td>
        <td>
            @Html.ActionLink("History", "GetCoinHistory", new { coin = act.ticker }, "Home")

        </td>
        <td>
            @Html.ActionLink("Forecast", "GetCoinForecast", new { coin = act.ticker }, "Home")

        </td>

    </tr>
    }
</table>

<h2>GetCoin</h2>

